// Title block's
.block-name {
    &__title--clients {
        color: $extra-color;

        @include for-size(tablet-s) {
            color: $main-color;
        }
    }

    &__icon--clients {
        background: url('../../assets/img/clients-icon.svg') no-repeat;
        width: 34px;
        height: 28px;
    }
}

.block-name--clients {
    padding-top: 88px;

    @include for-size(mobile-ml) {
        padding-top: 50px;
    }
}

.clients {
    background: linear-gradient(to top, $extra-backround 100%, transparent 45%);

    @include for-size(tablet-s) {
        background: none;
    }

    &__description {
        margin: 0 auto 39px;
        max-width: 390px;
        width: 100%;
        text-align: center;
        padding: 0 18px;

        @include for-size(tablet-s) {
            color: $main-color;
        }
    }

}

.clients-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -27px;

    @include for-size(laptop-l) {
        margin: auto;
    }

    &__col {
        width: 33.3333%;
        padding: 0 27px;
        margin: 0 auto 40px;

        @include for-size(laptop-m) {
            width: 40%;
        }

        @include for-size(tablet-m) {
            width: 50%;
        }

        @include for-size(mobile-l) {
            width: 60%;
        }

        @include for-size(mobile-ml) {
            width: 80%;
        }

        @include for-size(mobile-m) {
            width: 100%;
        }
    }
}

.client-card {
    width: 100%;

    &__content {
        width: 100%;
        height: 100%;
        padding: 18px 31px 85px 20px;
        background: $backround-light;
        box-shadow: 0px 10px 50px $card-box-shadow-extra;
        margin-bottom: -27px;

        @include for-size(mobile-m) {
            padding: 18px 31px 50px 20px;
        }
    }

    &__header {
        display: flex;
        margin-bottom: 21px;

        @include for-size(mobile-sm) {
            display: block;
        }
    }

    &__avatar {
        margin: auto 24px auto 0;
        width: 76px;
        height: 76px;

        @include for-size(mobile-sm) {
            margin: 0 auto 15px;
        }
    }

    &__img {
        display: block;
        width: 76px;
        height: 76px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        font-family: $extra-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: $extra-color;
        max-width: 178px;
        width: 100%;
        margin: auto 0;

        @include for-size(mobile-m) {
            font-size: 15px;
            line-height: 20px;
        }

        @include for-size(mobile-sm) {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__description {
        font-size: 15px;
        line-height: 27px;
        color: $color-cards;
        margin-bottom: 10px;
    }

    &__time {
        display: flex;
        background: $secondary-backround;
        max-width: 294px;
        width: 100%;
    }
}

.time-icon {
    display: flex;
    padding: 11px 14px 12px 17px;
    border-right: 1px solid $main-color;

    @include for-size(mobile-m) {
        padding: 11px 5px 12px;
        width: 50%;
    }

    &:last-of-type {
        border: none;
    }

    &__img {
        background: no-repeat url('../../assets/img/area-icon.svg');
        width: 33px;
        height: 32px;
        background-size: contain;
        margin: auto 15px auto 0;

        @include for-size(mobile-m) {
            margin: auto 10px auto 0;
        }
    }

    &__img--day {
        background: no-repeat url('../../assets/img/day-icon.svg');
        background-size: contain;
    }

    &__text {
        font-family: $extra-font;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: $main-color;
        margin: auto 0;

        @include for-size(mobile-m) {
            font-size: 14px;
            line-height: 21px;
        }
    }
}