.commercial {
    display: flex;
    align-items: stretch;
    position: relative;
    height: 100vh;
    padding-top: 83px;
    background: $main-backround;

    &__social {
        min-width: 82px;

        @include for-size(mobile-l) {
            display: none;
        }
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-color-title;
        background: $main-backround;
        height: 100%;
        width: 100%;
        transition: color .3s;

        &:hover, &:focus {
            color: $main-color;
            outline: none;

            .commercial__social-text {
                &::after {
                    background: $main-color;
                }
            }
        }

        &:focus {
            background: $backround-img;
        }
    }

    &__social-text {
        display: block;
        transform: rotate(90deg);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 51px;
            height: 1.5px;
            background: $main-color-title;
            top: 45%;
            transform: translateY(-45%);
            right: -59px;
            transition: background .3s;
        }
    }

    &__info {
        background: center/cover no-repeat url(../../assets/img/info.png);
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        min-height: 707px;

        @include for-size(laptop-m) {
            min-height: 600px;
        }

        @include for-size(tablet-l) {
            min-height: 550px;
        }

        @include for-size(mobile-l) {
            min-height: 500px;
        }

        @include for-size(mobile-ml) {
            min-height: 476px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: $backround-img;
        }
    }

    &__services {
        max-width: 566px;
        width: 100%;
        z-index: 100;
        padding: 30px 18px;
        margin-left: 42px;

        @include for-size(tablet-l) {
            max-width: 486px;
        }

        @include for-size(mobile-xl) {
            max-width: 436px;
            margin: 0 auto;
        }

        @include for-size(mobile-l) {
            max-width: 380px;
        }
    }

    &__services-title {
        color: $main-color;
        margin-bottom: 19px;

        @include for-size(mobile-xl) {
            margin-bottom: 16px;
        }

        @include for-size(mobile-s) {
            max-width: 230px;
        }
    }

    &__services-city {
        color: $main-color-title;
    }

    &__services-description {
        font-size: 22px;
        line-height: 30px;
        color: $main-color;
        margin-bottom: 41px;
        text-align: left;
        max-width: 504px;

        @include for-size(tablet-l) {
            font-size: 20px;
            line-height: 28px;
            max-width: 380px;
        }

        @include for-size(mobile-xl) {
            font-size: 19px;
            line-height: 26px;
            max-width: 360px;
            margin-bottom: 32px;
        }

        @include for-size(mobile-l) {
            font-size: 18px;
            line-height: 24px;
            max-width: 300px;
        }

        @include for-size(mobile-s) {
            max-width: 270px;
        }
    }

    &__services-btn {
        display: block;
    }
}

.btn-all--commercial {
    border: 1px solid $backround-light;
    background: transparent;
    width: 207px;
    padding: 18px 20px 18px 20px;
    margin-right: 20px;

    &:last-of-type {
        margin-right: 0;
    }

    &:hover, &:focus {
        background: $btn-backround;
        color: $main-color;
        border: 1px solid $btn-backround;
        outline: none;
    }

    @include for-size(mobile-xl) {
        margin-right: 0;
        margin-bottom: 26px;
        width: 100%;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 247px;
    width: 100%;
    min-height: 97px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 34px 48px;
    background: $main-backround;
    border: none;
    cursor: pointer;

    @include for-size(mobile-m) {
        display: none;
    }

    &:hover, &:focus {
        outline: none;
        background: $background-scroll;
    }

    &__name {
        font-family: $extra-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: $main-color;
        margin-right: 18px;
    }

    &__icon {
        height: 29px;
        width: 29px;
        border: 1.5px solid $secondary-backround;
        border-radius: 50%;
        background: center/center no-repeat url('../../assets/img/chevron-down.svg');
    }
}