.design-style {
    width: 100%;
    background: $extra-backround;
}

.tabs {
    width: 100%;
    position: relative;

    &__img-list {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        @include for-size(tablet-s) {
            display: none;
        }
    }

    &__img-content {
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: opacity .2s linear;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $design-style-background;
        }

        &.tab-active {
            position: relative;
            opacity: 1;
        }
    }

    &__img-item {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__container {
        display: flex;
        position: relative;
        z-index: 5;
        min-height: 864px;

        @include for-size(tablet-s) {
            display: block;
            min-height: 793px;
        }

        @include for-size(mobile-l) {
            min-height: 680px;
        }

        @include for-size(mobile-ml) {
            min-height: 651px;
        }

        @include for-size(mobile-m) {
            min-height: 612px;
        }

        @include for-size(mobile-s) {
            min-height: 607px;
        }
    }

    &__list {
        padding-top: 137px;
        margin-right: 77px;
        width: 35.4%;

        @include for-size(tablet-m) {
            margin-right: 30px;
            width: 30.4%;
        }

        @include for-size(tablet-s) {
            padding-top: 20px;
            margin: 0 auto 30px auto;
            width: 100%;
        }

    }

    &__title {
        color: $secondary-color;
        margin-bottom: 47px;
        max-width: 350px;

        @include for-size(tablet-l) {
            margin-bottom: 24px;
            max-width: 100%;
        }

        @include for-size(tablet-s) {
            text-align: center;
        }
    }

    &__item {
        list-style: none;
        padding: 0;
        margin: 0;

        @include for-size(tablet-s) {
            display: flex;
            flex-wrap: wrap;
        }

    }

    &__element {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include for-size(tablet-s) {
            text-align: center;
            width: 25%;
            padding-left: 15px;
            padding-right: 15px;
        }

        @include for-size(mobile-l) {
            width: 33.3333%;
            padding-left: 15px;
            padding-right: 15px;
        }

        @include for-size(mobile-ml) {
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__trigger {
        font-family: $tabs-font;
        font-size: 20px;
        line-height: 34px;
        color: $main-color;
        position: relative;
        transition: color .3s;
        cursor: pointer;

        @include for-size(tablet-m) {
            font-size: 15px;
            line-height: 29px;
        }

        @include for-size(tablet-s) {
            color: $main-color-dark;
        }

        @include for-size(mobile-ml) {
            font-size: 13px;
            line-height: 27px;
        }

        @include for-size(mobile-s) {
            font-size: 12px;
            line-height: 26px;
        }

        &:hover, &:focus {
            outline: none;
            color: $secondary-color;
        }

        &.tab-active {
            color: $secondary-color;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                background: $secondary-color;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__content {
        width: 64.6%;
        position: relative;

        @include for-size(tablet-m) {
            width: 69.4%;
        }

        @include for-size(tablet-s) {
            width: 100%;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        height: 100%;
        padding: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity .4s ease-out;

        @include for-size(tablet-s) {
            overflow: hidden;
        }

        &.tab-active {
            position: relative;
            z-index: 5;
            opacity: 1;
        }
    }

    &__col {
        width: 100%;
        min-height: 864px;
        margin-left: -21px;
        margin-right: -22px;

        @include for-size(tablet-s) {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            min-height: 557px;
            margin-left: auto;
            margin-right: auto;
        }

        @include for-size(mobile-l) {
            min-height: 400px;
        }

        @include for-size(mobile-ml) {
            min-height: 310px;
        }

        @include for-size(mobile-m) {
            min-height: 242px;
        }
    }

    &__slider {
        width: 50%;
        padding-left: 21px;
        padding-right: 22px;
        overflow: hidden;
        position: absolute;

        @include for-size(tablet-s) {
            position: relative;
            padding: 0;
            width: 100%;
            height: 557px;
            flex-shrink: 0;
            transition-property: transform;
        }

        @include for-size(mobile-l) {
            height: 400px;
        }

        @include for-size(mobile-ml) {
            height: 310px;
        }

        @include for-size(mobile-m) {
            height: 242px;
        }
    }

    &__slider--first {
        top: -41px;
        left: 0;
        height: 557px;

        @include for-size(tablet-s) {
            height: 557px;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
        }

        @include for-size(mobile-l) {
            height: 400px;
        }

        @include for-size(mobile-ml) {
            height: 310px;
        }

        @include for-size(mobile-m) {
            height: 242px;
        }
    }

    &__slider--second {
        bottom: -41px;
        left: 0;
        height: 349px;

        @include for-size(tablet-s) {
            height: 557px;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
        }

        @include for-size(mobile-l) {
            height: 400px;
        }

        @include for-size(mobile-ml) {
            height: 310px;
        }

        @include for-size(mobile-m) {
            height: 242px;
        }
    }

    &__slider--third {
        top: -119px;
        right: 0;
        height: 275px;

        @include for-size(tablet-s) {
            height: 557px;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
        }

        @include for-size(mobile-l) {
            height: 400px;
        }

        @include for-size(mobile-ml) {
            height: 310px;
        }

        @include for-size(mobile-m) {
            height: 242px;
        }
    }

    &__slider--fourth {
        bottom: 39px;
        right: 0;
        height: 624px;

        @include for-size(tablet-s) {
            height: 557px;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
        }

        @include for-size(mobile-l) {
            height: 400px;
        }

        @include for-size(mobile-ml) {
            height: 310px;
        }

        @include for-size(mobile-m) {
            height: 242px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__slidein-btn {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px $background-slider-btn-shadow;
        position: absolute;
        top: 50%;
        transform: translate(-6%,-50%);
        z-index: 999;
        background: url('../../assets/img/chevron-right.svg') no-repeat $background-slider-btn;
        background-position: center;
        cursor: pointer;
        border: none;
        display: none;

        &:hover, &:focus {
            outline: none;
            background-color: $background-slider-btn-hover;
        }

        @include for-size(tablet-s) {
            display: block;
        }

        @include for-size(mobile-l) {
            width: 36px;
            height: 36px;
            background-size: 7px 12px;
        }
    }

    &__slidein-btn--prev {
        left: 6%;
        transform: rotate(-180deg) translate(-6%, 50%);
    }

    &__slidein-btn--next {
        right: 6%;
    }
}