.design {
    padding-top: 147px;
    background: linear-gradient(to bottom, $extra-backround 55%, transparent 45%);

    @include for-size(tablet-l) {
        padding-top: 100px;
    }

    @include for-size(tablet-s) {
        background: none;
        padding-top: 332px;
    }

    @include for-size(mobile-l) {
        padding-top: 252px;
    }

    @include for-size(mobile-ml) {
        padding-top: 207px;
    }

    @include for-size(mobile-m) {
        padding-top: 172px;
    }

    &__description {
        max-width: 680px;
        width: 100%;
        margin: 0 auto 39px;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: $main-color-dark;

        @include for-size(tablet-s) {
            color: $main-color;
        }

        @include for-size(mobile-ml) {
            font-size: 18px;
            line-height: 23px;
        }

        @include for-size(mobile-sm) {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

.block-name {
    &__title--design {
        color: $extra-color;

        @include for-size(tablet-s) {
            color: $main-color;
        }
    }

    &__icon--design {
        background: url('../../assets/img/design-icon.svg') no-repeat;
        width: 28px;
        height: 28px;
    }
}

.block-name--design {
    margin-bottom: 24px;
}

.card {
    width: 100%;

    &__img--design{
        position: relative;

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $background-card-design;
        }
    }

    &__wrap--design {
        margin: -127px auto 0;

        @include for-size(mobile-sm) {
            margin: -142px auto 0 0;
        }
    }
}