.menu--header {
    transition: all 300ms ease-in-out;
    position: fixed;
    &.animateIn {
        transform: translateY(0px);
    }

    &.animateOut {
        transform: translateY(-100%);
    }

    &.bg-color {
        background: $header-scroll;
    }

}

.menu {
    background: $main-backround;
    min-height: 83px;
    display: flex;
    align-items: center;
    z-index: 1005;
    width: 100%;

    &::after {
        content:'';
        min-height:inherit;
        font-size:0;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        color: $main-color-title;
        text-transform: uppercase;
        padding: 15px 0;
        transition: color .3s;
        margin-right: 30px;

        &:hover,
        &:focus {
            color: $main-color;
            outline: none;
        }
    }

    &__content {
        @include for-size(laptop-m) {
            right: -100%;
            bottom: 0;
            z-index: 1100;
            margin: 0;
            overflow: hidden;
            position: fixed;
            transition: right .3s ease-out .2s;
            top: 83px;
            background: $player-controls-backround;
            width: 100%;
            height: calc(100% - 83px);

            &.open {
                right: 0;
            }
        }
    }

    &__row {
        display: flex;

        @include for-size(laptop-m) {
            flex-wrap: wrap;
            align-content: space-between;
            padding-bottom: 40px;
            width: 40%;
            margin: 0 0 0 auto;
            height: 100%;
            background: $main-backround;
            border-left: 1px solid $backround-light;
            border-top: 1px solid $backround-light;
        }

        @include for-size(mobile-ml) {
            width: 70%;
        }

        @include for-size(mobile-m) {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 67px 0 0;

        @include for-size(laptop-m) {
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    &__list-item {
        margin-right: 47px;

        &:last-of-type {
            margin-right: 0;
        }

        @include for-size(laptop-lm) {
            margin-right: 20px;
        }

        @include for-size(laptop-m) {
           margin-right: 0;
           text-align: center;
           border-bottom: 1px solid $backround-light;
        }
    }

    &__list-link {
        color: $main-color;
        font-family: $main-font;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        padding: 15px 0;
        transition: color .3s;
        display: block;

        &:hover,
        &:focus,
        &.active {
            color: $main-color-hover;
            outline: none;
        }

        @include for-size(laptop-m) {
            padding: 18px 20px 19px;
            width: 100%;
            font-size: 20px;
            line-height: 22px;
        }

        @include for-size(mobile-ml) {
            padding: 16px 20px 17px;
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__mobile-btn {
        display: none;
        height: 30px;
        width: 30px;
        position: relative;
        cursor: pointer;
        padding: 0;
        background: inherit;
        border: none;

        @include for-size(laptop-m) {
            display: block;
        }

        @include for-size(mobile-sm) {
            height: 20px;
            width: 20px;
        }

        &:hover, &:focus {
            outline: none;

            .menu__mobile-icon {
                background: $backround-light;
            }
        }

        &.open {
            .menu__mobile-icon {
                transform: translate(-50%,-50%) rotate(135deg);

                &::before{
                  top: 0;
                  transform: translateX(100%) rotate(-90deg);
                }
                &::after{
                  bottom: 0;
                  transform: translateX(-100%) rotate(-90deg);
                }
            }
        }
    }

    &__mobile-icon {
        height: 3px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50px;
        background: $btn-backround;
        transform: translate(-50%,-50%) rotate(0deg);
        transition: all ease 0.3s;

        @include for-size(mobile-sm) {
            height: 2px;
        }

        &:hover {
            background: $backround-light;
        }

        &::before,
        &::after {
          content:"";
          position: absolute;
          height: inherit;
          border-radius: inherit;
          background-color: inherit;
          margin: auto;
          width: 50%;
          transition: all ease 0.2s;
        }

        &::before{
          top: -11px;
          left: 0;
          transform-origin: left;

          @include for-size(mobile-sm) {
            top: -7px;
          }
        }

        &::after{
          bottom:-12px;
          right: 0;
          transform-origin: right;

          @include for-size(mobile-sm) {
            bottom: -8px;
          }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;

        @include for-size(laptop-m) {
            display: block;
            padding: 0 40px;
            width: 100%;
        }
    }

    &__contacts-number {
        position: relative;
        color: $main-color-title;
        transition: color .3s;

        @include for-size(laptop-m) {
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background: $main-color-title;
            left: 0;
            bottom: 1px;
            transition: background .3s;
        }

        &:hover,
        &:focus {
            color: $main-color;
            outline: none;

            &::after {
                background: $main-color;
            }
        }

        @include for-size(laptop-m) {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 20px;
            color: $main-color;
            text-align: center;

            &:hover {
                color: $main-color-title;
            }

            &::after {
                display: none;
            }
        }
    }
}
// Button for all page
.btn-all {
    background: $btn-backround;
    border: none;
    font-family: $secondary-font;
    color: $main-color;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;

    &:hover,
    &:focus {
        color: $main-color-hover;
        background: $backround-light;
        outline: none;
    }
}
.btn-all--menu {
    padding: 13px 33px;
    box-shadow: 0px 5px 15px $btn-box-shadow;
    margin-left: 45px;

    @include for-size(laptop-m) {
        width: 100%;
        margin-left: 0;
        font-size: 18px;
        line-height: 20px;
    }
}