.online-control {
    background: center/cover no-repeat url('../../assets/img/back-2.png');
    background-color: $extra-backround;
    background-size: 100%;

    @include for-size(mobile-ml) {
        background: $main-backround;
        margin-bottom: -26px;
        padding-top: 57px;
    }

    &__description {
        font-family: $main-font;
        color: $main-color-dark;
        margin: 0 auto 91px;
        text-align: center;
        max-width: 681px;
        width: 100%;

        @include for-size(mobile-ml) {
            color: $main-color;
            margin: 0 auto 33px;
        }
    }
}

.video-player {
    max-width: 817px;
    width: 100%;
    margin: 0 auto 90px;
    position: relative;
    cursor: initial;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -62px;
        display: block;
        width: 55px;
        height: 1.54px;
        border-radius: 30px;
        background: $main-color-title;
    }

    @include for-size(mobile-ml) {
        margin: 0 auto 51px;

        &::after {
            bottom: -31px;
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__start {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $video-background;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        cursor: pointer;
        border: none;
        opacity: 0;

        &:focus {
            outline: none;
        }

        &:hover, &:focus {
            background: $video-background-hover;

             ~ .video-player__start-btn {
                    background: $video-background-btn;
             }
        }
    }

    &__start-btn {
        position: absolute;
        z-index: 1;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background: $btn-backround;
        cursor: pointer;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include for-size(mobile-m) {
            width: 37px;
            height: 37px;
        }
    }

    &__start-icon {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-30%, -50%);
        left: 50%;
        background: url('../../assets/img/play.svg') no-repeat;
        width: 28px;
        height: 28px;

        @include for-size(mobile-m) {
            background: url('../../assets/img/play-mobile.svg') no-repeat;
            width: 12px;
            height: 12px;
        }
    }

    &__video {
        width: 100%;
        object-fit: cover;
        display: block;
        max-height: 434px;

        @include for-size(mobile-m) {
            max-height: 207px;
        }
    }

    &__controls {
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
        transition: opacity 0.5s linear;
        padding: 0 5px;
        z-index: 1;
        opacity: 0;
    }

    &__progress-controls {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $main-color;
    }

    &__progress-bar {
        width: 90%;
        height: 3px;
        background: $progress-bar-color;
        display: flex;
        align-items: center;
        cursor: pointer;

        @include for-size(mobile-ml) {
            width: 85%;
        }

        @include for-size(mobile-m) {
            width: 80%;
        }
    }

    &__watched-bar {
        background: $watched-bar-color;
        display: inline-block;
        transition: all 0.2s;
        height: 110%;
        width: 0;
    }

    &__playhead {
        background: $watched-bar-color;
        display: inline-block;
        transition: all 0.2s;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        transform: translateX(-50%);
    }

    &__time-remaining {
        margin: 0 10px 5px;
        width: 8%;

        @include for-size(mobile-l) {
            font-size: 15px;
        }

        @include for-size(mobile-ml) {
            font-size: 13px;
            width: 12%;
        }

        @include for-size(mobile-m) {
            width: 15%;
        }
    }

    &__btn-controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }

    &__playing {
        display: none;
    }

    &__paused {
        display: none
    }

    &__btn-group {
        display: flex;
        align-items: center;
    }

    &__btn-all {
        background: none;
        outline: none;
        box-shadow: none;
        border: none;
        width: 30px;
        height: 30px;
        margin: 0px 10px;
        opacity: 0.4;
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        padding: 0;

        &:hover, &:focus {
            opacity: 1;
        }

        svg {
            fill: $main-color;
            stroke: $main-color;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            width: 100%;
            height: 100%;
        }
    }

    &__play-pause {
        margin-left: 0;
    }

    &__volume {
        margin-right: 0;
    }

    &__full-volume {
        display: none;

        path {
            fill: none;
        }
    }

    &__muted {
        display: none;

        path {
            fill: none;
        }
    }

    &__full-screen {

        svg {
            fill: none;
        }
    }

    &__maximize {
        display: none;
    }

    &__minimize {
        display: none;
    }
}
// Form online control
.form-item {
    display: block;
    font-family: $main-font;
    max-width: 769px;
    margin: 0 auto;

    &__content {
        margin-bottom: 37px;
        display: flex;
        align-items: center;

        @include for-size(mobile-ml) {
            display: block;
            margin-bottom: 0;
        }
    }

    &__element {
        width: 35%;
        margin-right: 58px;

        &:nth-of-type(2) {
            margin-right: 49px;
        }

        @include for-size(mobile-ml) {
            width: 100%;
            margin-bottom: 63px;
            margin-right: 0;

            &:nth-of-type(2) {
                margin-bottom: 26px;
                margin-right: 0;
            }
        }
    }

    &__label {
        display: block;
        font-size: 15px;
        line-height: 20px;
        color: $color-form-label;
        padding-left: 2px;

        @include for-size(mobile-ml) {
            color: $color-form-mobile;
        }
    }

    &__input {
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: $main-color-dark;
        border: none;
        border-bottom: 1px solid $form-border;
        width: 100%;
        position: relative;

        &::placeholder {
            font-size: 18px;
            line-height: 24px;
            color: $main-color-dark;
        }

        &:hover, &:focus {
            outline: none;
            border-bottom: 1px solid $btn-backround;
        }

        @include for-size(mobile-ml) {
            color: $main-color;
            border-bottom: 1px solid $main-color;
            background: $main-backround;

            &::placeholder {
                color: $main-color;
            }
        }
    }

    &__checkbox {
        font-size: 16px;
        line-height: 22px;
        color: $extra-color;
        text-align: center;

        @include for-size(mobile-ml) {
            display: none;
            text-align: left;
            margin-bottom: 62px;
            color: $main-color;
            padding-left: 10px;
        }
    }

    &__checkbox--mobile {
        display: none;

        @include for-size(mobile-ml) {
            display: block;
        }

        @include for-size(mobile-s) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__checkbox input[type="checkbox"]:focus + label {
        outline: none;
        color: $color-checkbox;
    }

    &__checkbox input[type="checkbox"]:focus + label::before {
        outline: $color-checkbox solid 1px;
    }

    &__checkbox-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        &:checked {
            &~ .form-item__checkbox-label {
                color: $color-checkbox;
              &:before {
                background: $color-checkbox;
              }

              &:after {
                display: inline-block;
                background: url(../../assets/img/check.svg) no-repeat;
                width: 11px;
                height: 9px;
              }
            }
        }
    }

    &__checkbox-label {
        position: relative;
        cursor: pointer;
        padding-left: 17px;

        &:before {
          content: '';
          position: absolute;
          left: -10px;
          top: -2px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background: #ffffff;
          border: 1px solid $color-checkbox;
          border-radius: 1px;
        }

        &:after {
          position: absolute;
          content: '';
          left: -5px;
          top: 3px;
          display: none;
        }
    }
}
// Button form online control
.btn-all--form-item {
    width: 29%;
    padding: 12px 20px 13px 20px;
    border: 1px solid $btn-backround;
    font-size: 15px;
    line-height: 26px;

    &:focus {
        outline: none;
    }

    @include for-size(mobile-ml) {
        width: 50%;
        margin: 0 auto;
        display: block;
    }

    @include for-size(mobile-m) {
        width: 100%;
    }
}
// Title block's
.block-name {
    margin-bottom: 31px;

    &__title {
        color: $main-color;
        margin-bottom: 13px;
    }

    &__icon {
        background: url('../../assets/img/online-camera.svg') no-repeat;
        width: 32px;
        height: 28px;
        position: relative;
        margin: 0 auto;

        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: $main-color-title;
            width: 32px;
            height: 1.54px;
            border-radius: 30px;
            top: 50%;
            transform: translateY(50%);
        }

        &::before {
            left: -41px;
        }

        &::after {
            right: -40px;
        }
    }
}
