.request-popup {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        z-index: 2002;
    }
}

.form-feedback--popup {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2005;
    margin: auto;
    max-width: 506px;
    width: 100%;

    @include for-size(mobile-m) {
        height: 100%;
    }
}

.form-feedback {
    position: relative;

    &__popup-close {
        display: block;
        position: absolute;
        width: 23.33px;
        height: 23.33px;
        border: 1.5px solid $backround-light;
        border-radius: 50%;
        top: 13px;
        right: 13px;
        cursor: pointer;
        background: 48% no-repeat url('../../assets/img/close-icon.svg') transparent;

        &:focus, &:hover {
            outline: none;
            background: 48% no-repeat url('../../assets/img/close-icon.svg') $secondary-backround;
            border-color: $secondary-backround;
        }
    }

    &__wrapp--popup {
        margin-bottom: 0;
        padding: 33px 49px 27px;

        @include for-size(mobile-m) {
            padding: 40px 20px 27px 23px;
        }
    }

    &__title--popup {
        max-width: 362px;
        width: 100%;
        font-family: $extra-font;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 26px;
        margin-bottom: 34px;

        @include for-size(mobile-m) {
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 27px;
        }
    }
}