.projects {
    background: bottom left no-repeat url('../../assets/img/city-left.svg'),
    bottom right no-repeat url('../../assets/img/city-right.svg'),
    center/cover no-repeat url('../../assets/img/back.png'),
    $main-backround;
    position: relative;
    z-index: 5;

    @include for-size(mobile-ml) {
        background: $main-backround;
    }
}
// Main slider
.slider-control {
    padding-top: 107px;
    padding-bottom: 416px;

    @include for-size(laptop-m) {
        padding-top: 50px;
    }

    @include for-size(mobile-ml) {
        padding-bottom: 0;
    }
    // Navigation
    &__pagination-up {
        margin-bottom: 28px;
        display: flex;
        flex-wrap: wrap;
        width: 64%;
        margin-left: auto;
        // responsive max-width: 1179px
        @include for-size(laptop-m) {
            margin-bottom: 20px;
        }
        // responsive max-width: 1023px
        @include for-size(laptop-l) {
            display: none;
        }

        .slider-control__bullet {
            display: block;
            font-family: $extra-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: $color-slider-bullet;
            cursor: pointer;
            margin-right: 60px;
            max-width: 220px;
            margin-bottom: 25px;
            height: 100%;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .slider-control__bullet-active {
            color: $color-slider-bullet-active;

            .slider-control__bullet-up {
                position: relative;

                &::after {
                    display: block;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    bottom: -6px;
                    left: 0;
                    background: $color-slider-bullet-active;
                }
            }
        }
    }

    &__pagination-down {
        display: flex;
        flex-wrap: wrap;
        margin: 0 29px;

        .slider-control__bullet {
            display: block;
            width: 10px;
            height: 10px;
            font-size: 0;
            background: $background-slider-bullet;
            margin-right: 17px;
            border-radius: 50%;
            cursor: pointer;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .slider-control__bullet-active {
            background: $background-slider-bullet-active;
        }
    }

    &__navigation {
        display: flex;
        width: 34%;
        align-items: center;
        margin-top: -13px;
        position: relative;
        z-index: 7;
        margin-left: 2px;

        @include for-size(laptop-m) {
            margin-top: 0;
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    &__button {
        background: url(../../assets/img/arrow.svg) no-repeat;
        width: 41px;
        height: 13px;
        cursor: pointer;
        border: none;

        &:hover, &:focus {
            outline: 1px solid #fff;
        }
    }

    &__button--next {
        transform: rotate(180deg);
    }
    // Content
    &__wrapper {

        @include for-size(laptop-m) {
            margin-bottom: 20px;
        }

        @include for-size(tablet-l) {
            margin-bottom: 30px;
        }
    }
    &__content {
        display: flex;
        align-items: flex-start;

        @include for-size(tablet-l) {
            display: block;
        }
    }

    &__description {
        width: 33%;
        margin-right: 50px;
        margin-bottom: 49px;

        @include for-size(tablet-l) {
            margin: 0 auto;
            width: 100%;
        }
    }

    &__header {
        margin-bottom: 42px;

        @include for-size(tablet-l) {
            text-align: center;
            margin-bottom: 36px;
        }
    }

    &__header-title {
        max-width: 160px;
        color: $secondary-color;
        letter-spacing: -0.07em;
        margin-bottom: 34px;
        position: relative;

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 92px;
            height: 1px;
            background: $secondary-color;
            right: -95px;;
            bottom: 18px;
        }

        @include for-size(tablet-l) {
            margin: 0 auto 22px;

            &::after {
                display: none;
            }
        }
    }

    &__header-text {
        font-size: 18px;
        line-height: 29px;
        color: $main-color;
        margin-bottom: 0;

        @include for-size(mobile-m) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__description-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__description-item {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 34px;
    }

    &__description-title {
        color: $secondary-color;
        margin-bottom: 9px;
        text-transform: uppercase;
    }

    &__description-text {
        font-size: 15px;
        line-height: 20px;
        color: $main-color;
        max-width: 110px;
        margin-bottom: 0;
    }
    // Secondnary slider
    &__slidein {
        width: 67%;
        height: 100%;

        @include for-size(tablet-l) {
            width: 100%;
        }
    }

    &__slidein-wrapper {
        position: relative;
    }

    &__slidein-item {
        background: inherit;
        width: 79%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include for-size(laptop-m) {
            width: 100%;
        }
    }

    &__slidein-img {
        width: 100%;
        max-height: 482px;
        height: 100%;
    }
    // Secondnary slider navigation
    &__slidein-btn {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px $background-slider-btn-shadow;
        position: absolute;
        top: 50%;
        transform: translate(-6%,-50%);
        z-index: 999;
        background: url('../../assets/img/chevron-right.svg') no-repeat $background-slider-btn;
        background-position: center;
        cursor: pointer;
        border: none;

        &:hover, &:focus {
            outline: none;
            background-color: $background-slider-btn-hover;
        }

        @include for-size(mobile-l) {
            width: 36px;
            height: 36px;
            background-size: 7px 12px;
        }
    }

    &__slidein-btn--prev {
        left: 6%;
        transform: rotate(-180deg) translate(-6%, 50%);
    }

    &__slidein-btn--next {
        right: 6%;
    }

    &__slidein-disable {
        display: none;
    }
}