.repair {
    background: url('../../assets/img/back-2.png') center/cover no-repeat $extra-backround;
    padding-top: 147px;

    @include for-size(tablet-l) {
        padding-top: 100px;
    }

    @include for-size(mobile-ml) {
        padding-top: 83px;
    }
}
// Title block's
.block-name {

    &__title--repair {
        color: $extra-color;
    }

    &__icon--repair {
        background: url('../../assets/img/repair-icon.svg') no-repeat;
        width: 28px;
    }
}

// Cards block
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &__item {
        width: 33.333333%;
        padding: 0 15px;
        margin: 0 auto 30px;

        @include for-size(tablet-s) {
            width: 50%;
        }

        @include for-size(mobile-ml) {
            width: 100%;
        }

        @include for-size(mobile-sm) {
            margin-bottom: 59px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.card {
    width: 100%;

    &__img {
        width: 100%;
    }

    &__img-elem {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 421px;

        @include for-size(mobile-xl) {
            height: 365px;
        }
    }

    &__wrap {
        max-width: 330px;
        width: 100%;
        margin: -98px auto 0;

        @include for-size(mobile-m) {
            max-width: 270px;
        }

        @include for-size(mobile-sm) {
            margin: -148px auto 0 0;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        padding: 25px 29px 49px 34px;
        background: $backround-light;
        margin-bottom: -27px;
        box-shadow: 5px 10px 20px $card-box-shadow;

        @include for-size(mobile-sm) {
            padding: 21px 29px 37px 31px;
            margin-bottom: -20px;
        }
    }

    &__title {
        color: $main-color-dark;
        margin-bottom: 13px;

        @include for-size(mobile-sm) {
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 10px;
        }
    }

    &__description {
        font-family: $main-font;
        font-size: 15px;
        line-height: 25px;
        color: $color-cards;
        list-style: none;
        margin: 0;
        padding-left: 15px;

        @include for-size(mobile-sm) {
            font-size: 13px;
            line-height: 22px;
        }
    }

    &__list {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: block;
            background: $color-cards;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            top: 43%;
            transform: translateY(-43%);
            left: -11px;
        }
    }
}
// Button
.btn-all--card {
    padding: 14px 10px 15px;
    width: 228px;
    border-radius: 0;
    border: 1px solid $btn-backround;
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    position: relative;
    z-index: 5;

    @include for-size(mobile-m) {
        padding: 6px 10px 7px;
        width: 190px;
        font-size: 15px;
        line-height: 21px;
    }
}
