.request {
    background: left top/ 674px 645px no-repeat url('../../assets/img/house-background.png'),
        center/cover no-repeat url('../../assets/img/back-2.png'), $extra-backround;

    @include for-size(mobile-l) {
        background-position: top left;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 62px;
        padding-bottom: 242px;

        @include for-size(tablet-s) {
            padding-bottom: 50px;
        }

        @include for-size(mobile-l) {
            display: block;
        }
    }

    &__services {
        max-width: 430px;
        width: 100%;
        margin-right: 54px;

        @include for-size(mobile-l) {
            margin: 0 auto 90px;
            padding-top: 100px;
        }

        @include for-size(mobile-m) {
            padding-top: 78px;
        }

        @include for-size(mobile-s) {
            padding-top: 57px;
        }
    }

    &__services-list {
        list-style: none;
        padding: 0;
    }

    &__services-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 70px;
        position: relative;

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 2px;
            height: 100%;
            background: $secondary-backround;
            top: 55px;
            left: 20px;

        }

        &:last-of-type {
            margin-bottom: 0;

            &::after {
                display: none;
            }
        }
    }

    &__services-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: $secondary-backround;
        color: $main-color;
        margin-bottom: 0;
        margin-right: 17px;
        flex-shrink: 0;
    }

    &__services-text {
        font-family: $additional-font;
        font-size: 18px;
        line-height: 21px;
        color: $main-color-dark;
        margin: auto 0;
    }

    &__offer {
        display: flex;
        align-items: center;
        margin-left: 33px;
        margin-bottom: 28px;

        @include for-size(tablet-s) {
            margin-left: 0;
        }
    }

    &__offer-icon{
        background: url('../../assets/img/moneybox.svg') no-repeat center $btn-backround;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-right: 25px;

        @include for-size(tablet-s) {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
    }

    &__offer-description {
        font-family: $secondary-font;
        line-height: 25px;
        color: $secondary-color;
        margin-bottom: 0;
        max-width: 255px;
    }
}
.form-feedback {
    max-width: 506px;
    width: 100%;
    background: url('../../assets/img/form-background.png') center/cover no-repeat $main-backround;

    @include for-size(mobile-l) {
        margin: 0 auto;
    }

    &__wrapp {
        padding: 28px 49px 27px;
        width: 100%;
        margin-bottom: 38px;

        @include for-size(mobile-m) {
            margin-bottom: 20px;
        }

        @include for-size(mobile-sm) {
            padding: 25px;
        }
    }

    &__title {
        font-family: $secondary-font;
        line-height: 25px;
        color: $main-color;
        text-transform: none;
        max-width: 270px;
        margin: 0 auto 38px;

        @include for-size(mobile-m) {
            font-size: 17px;
            line-height: 21px;
            margin: 0 auto 25px;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: 15px;
    }

    &__element {
        width: 100%;
        margin-bottom: 48px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include for-size(mobile-m) {
            margin-bottom: 40px;
        }
    }

    &__label {
        width: 100%;
        display: block;
        font-family: $main-font;
        font-size: 15px;
        line-height: 20px;
        color: $color-label-feedback;
        padding-left: 2px;

        @include for-size(mobile-m) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__input {
        width: 100%;
        display: block;
        font-family: $additional-font;
        font-size: 18px;
        line-height: 25px;
        color: $main-color;
        border: none;
        border-bottom: 1px solid $border-color-feedback;
        position: relative;
        background: $main-backround;

        @include for-size(mobile-m) {
            font-size: 15px;
            line-height: 22px;
        }

        &::placeholder {
            font-size: 18px;
            line-height: 25px;
            color: $main-color;

        @include for-size(mobile-m) {
            font-size: 15px;
            line-height: 22px;
        }
        }

        &:hover, &:focus {
            outline: none;
            border-bottom: 1px solid $btn-backround;
        }
    }

    &__checkbox {
        font-family: $main-font;
        font-size: 16px;
        line-height: 22px;
        color: $main-color;
        margin-bottom: 38px;

        @include for-size(mobile-m) {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 30px;
        }
    }

    &__checkbox input[type="checkbox"]:focus + label {
        outline: none;
        color: $color-checkbox;
    }

    &__checkbox input[type="checkbox"]:focus + label::before {
        outline: $color-checkbox solid 1px;
    }

    &__checkbox-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        &:checked {
            &~ .form-feedback__checkbox-label {
                color: $color-checkbox;
              &:before {
                background: $color-checkbox;
              }

              &:after {
                display: inline-block;
                background: url(../../assets/img/check.svg) no-repeat;
                width: 11px;
                height: 9px;
              }
            }
        }
    }

    &__checkbox-label {
        position: relative;
        cursor: pointer;
        padding-left: 26px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background: #ffffff;
          border: 1px solid $color-checkbox;
          border-radius: 1px;
        }

        &:after {
          position: absolute;
          content: '';
          left: 5px;
          top: 3px;
          display: none;
        }
    }
}
// Button for form feedback
.btn-all--form-feedback {
    width: 213px;
    line-height: 18px;
    padding: 16px 21px 17px 21px;
    display: block;
    margin-left: auto;

    @include for-size(mobile-m) {
        width: 100%;
    }
}