.steps {
    position: relative;
    color: $main-color;
    margin-top: -57px;
    margin-bottom: 50px;

    @include for-size(tablet-l) {
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__header {
        max-width: 215px;
        width: 100%;

        @include for-size(tablet-l) {
            text-align: center;
            margin: 0 auto 25px;
            padding-top: 20px;
        }
    }

    &__text {
        font-family: $secondary-font;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &__title {
        color: $secondary-color;
        position: relative;
        margin-bottom: 10px;

        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 92px;
            height: 1px;
            background: $secondary-color;
            right: -87px;
            bottom: 16px;
        }

        @include for-size(tablet-l) {
            &::after {
                display: none;
            }
        }
    }
}

.steps-slider {
    margin-top: -27px;
    padding-bottom: 84px;

    @include for-size(tablet-l) {
        margin-top: 0;
        padding-bottom: 0;
    }

    &__tabs {
        width: 59%;
        margin-left: auto;
        margin-bottom: 17px;

        @include for-size(tablet-l) {
            width: 70%;
            margin: 0 auto 20px;
        }

        @include for-size(mobile-xxl) {
            width: 80%;
        }

        @include for-size(mobile-xl) {
            width: 100%;
        }
    }

    &__pagination-up {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .steps-slider__bullet {
            max-width: 200px;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 36px;
            opacity: 0.3;
            cursor: pointer;
            transition: opacity .3s;

            @include for-size(tablet-l) {
                text-align: center;
                margin-bottom: 20px;
            }

            @include for-size(mobile-msl) {
                max-width: 33.3333%;
            }

            @include for-size(mobile-sm) {
                max-width: 50%;
            }

            .steps-slider__num {
                display: inline-block;
                font-family: $extra-font;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 21px;
                text-transform: uppercase;
                margin-bottom: 17px;
                border-bottom: 1px solid #E3B873;
            }

            .steps-slider__title {
                display: block;
                font-family: $main-font;
                font-size: 15px;
                line-height: 18px;
                color: $main-color;
            }
        }

        .steps-slider__bullet-active {
            opacity: 1;
        }
    }

    &__counter {
        position: absolute;
        top: 105px;
        margin-bottom: 22px;
        left: 0;
        font-family: $extra-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;

        @include for-size(tablet-l) {
            display: none;
        }
    }

    &__wrapper {
        @include for-size(tablet-l) {
            margin-bottom: 30px;
        }
    }

    &__row {
        display: flex;
        position: relative;

        @include for-size(tablet-l) {
            display: block;
        }
    }

    &__description {
        width: 36%;
        margin-right: 137px;
        margin-top: -90px;
        margin-bottom: 100px;

        @include for-size(tablet-l) {
            width: 50%;
            margin: 0 auto 20px;
        }

        @include for-size(tablet-s) {
            width: 100%;
        }
    }

    &__description-title {
        color: $secondary-color;

        @include for-size(tablet-l) {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__description-subtitle {
        font-size: 15px;
        line-height: 25px;
    }

    &__img {
        width: 70%;
        height: 100%;

        @include for-size(tablet-l) {
            width: 100%;
        }
    }

    &__img-item {
        display: block;
        width: 100%;
        height: 376px;
        object-fit: cover;

        @include for-size(mobile-m) {
            height: 270px;
        }
    }

    &__pagination-down {
        display: flex;
        flex-wrap: wrap;
        margin: 0 29px;

        @include for-size(mobile-m) {
            margin: 0 15px;
        }

        .steps-slider__bullet {
            display: block;
            width: 10px;
            height: 10px;
            font-size: 0;
            background: $background-slider-bullet;
            margin: 8px;
            border-radius: 50%;
            cursor: pointer;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .steps-slider__bullet-active {
            background: $background-slider-bullet-active;
        }
    }

    &__navigation {
        display: flex;
        width: 30%;
        align-items: center;
        position: relative;
        z-index: 7;
        margin-top: -96px;

        @include for-size(tablet-l) {
            margin-top: 0;
            width: 100%;
            justify-content: center;
            margin-bottom: 2px;
        }
    }

    &__button {
        background: url(../../assets/img/arrow.svg) no-repeat;
        width: 41px;
        height: 13px;
        cursor: pointer;
        border: none;

        &:hover, &:focus {
            outline: 1px solid #fff;
        }
    }

    &__button--next {
        transform: rotate(180deg);
    }
}