.block-name--team {
    padding-top: 40px;
    margin-bottom: 23px;
}

.block-name {
    &__title_team {
        margin-bottom: 12px;
    }

    &__icon_team {
        background: url('../../assets/img/team-icon.svg') no-repeat;
        width: 29px;
        height: 29px;
        margin-bottom: 23px;
    }
}

.team {
    background: linear-gradient(to top, $extra-backround 50%, transparent 45%);
    margin-bottom: -1px;

    @include for-size(tablet-s) {
        background: none;
    }

    &__description {
        max-width: 476px;
        width: 100%;
        margin: 0 auto 73px;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        color: $main-color;

        @include for-size(tablet-s) {
            font-size: 20px;
            line-height: 27px;
        }

        @include for-size(mobile-l) {
            margin: 0 auto 50px;
        }

        @include for-size(mobile-ml) {
            font-size: 18px;
            line-height: 23px;
        }

        @include for-size(mobile-sm) {
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__description-team {
        position: relative;
        max-width: 558px;
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        color: $main-color-dark;

        @include for-size(tablet-s) {
            font-size: 18px;
            line-height: 32px;
        }

        &::before {
            position: absolute;
            display: block;
            content: '';
            background: $secondary-backround;
            width: 55px;
            height: 2px;
            top: -17px;
            left: 50%;
            transform: translateX(-50%);
        }

        @include for-size(tablet-s) {
            color: $main-color;
        }

        @include for-size(mobile-ml) {
            font-size: 18px;
            line-height: 23px;
        }

        @include for-size(mobile-sm) {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

.cards-team {
    margin: 0 -53px 17px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include for-size(mobile-msl) {
        display: block;
    }

    &__item {
        width: 33.3333%;
        padding: 0 53px;
        margin: 0 auto 53px;

        @include for-size(tablet-s) {
            width: 40%;
        }

        @include for-size(tablet-s) {
            width: 43%;
        }

        @include for-size(mobile-xxl) {
            width: 45%;
        }

        @include for-size(mobile-xl) {
            width: 50%;
        }

        @include for-size(mobile-msl) {
            width: 58%;
        }

        @include for-size(mobile-ml) {
            width: 80%;
        }

        @include for-size(mobile-m) {
            width: 91%;
        }

        @include for-size(mobile-sm) {
            width: 100%;
            padding: 0 18px 0 53px;
        }
    }
}

.card-team {
    width: 100%;
    height: 100%;

    &__avatar {
        max-width: 304px;
        width: 100%;
        height: 358px;
        position: relative;
        margin: 0 auto;

        @include for-size(laptop-m) {
            height: 330px;
        }

        @include for-size(tablet-s) {
            height: 380px;
        }

        @include for-size(mobile-ml) {
            height: 414px;
        }
    }

    &__avatar-img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__avatar-icon {
        position: absolute;
        top: -35px;
        left: -35px;
        width: 70px;
        height: 70px;
        background: $secondary-backround;
        box-shadow: 0px 5px 20px $background-slider-btn-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__avatar-position {
        width: 37px;
        height: 44px;
    }

    &__description {
        width: 233px;
        position: relative;
        background: $backround-light;
        box-shadow: 0px 10px 15px $card-box-shadow;
        margin: -81px auto 0;

        @include for-size(laptop-m) {
            width: 100%;
        }

        @include for-size(tablet-s) {
            width: 233px;
        }
    }

    &__header {
        padding: 22px 21px 24px 20px;
    }

    &__name {
        margin-bottom: 9px;
        text-align: center;
        color: $extra-color;
    }

    &__position {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: $color-cards;
        margin-bottom: 0;
    }

    &__experience {
        display: block;
        width: 100%;
        padding: 13px 10px 14px;
        background: $secondary-backround;
        color: $main-color;
        font-family: $extra-font;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    }
}