h1 {
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-top: 0;
}

h2 {
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 0;
}

h3 {
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

h4 {
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
    text-transform: capitalize;
}

h5 {
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 0;
}

h6 {
    font-family: $extra-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 0;
}

p {
    font-family: $main-font;
    font-size: 20px;
    line-height: 34px;
    margin-top: 0;
}

a {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

@include for-size(tablet-l) {
    h1 {
        font-size: 31px;
        line-height: 42px;
    }

    h2 {
        font-size: 25px;
        line-height: 34px;
    }

    h3 {
        font-size: 21px;
        line-height: 29px;
    }

    h4 {
        font-size: 16px;
        line-height: 22px;
    }

    p {
        font-size: 17px;
        line-height: 29px;
    }

    a {
        font-size: 13px;
        line-height: 15px;
    }
}

@include for-size(tablet-m) {
    h2 {
        font-size: 22px;
        line-height: 30px;
    }
}

@include for-size(mobile-xl) {
    h1 {
        font-size: 27px;
        line-height: 37px;
    }

    h4 {
        font-size: 15px;
        line-height: 20px;
    }

    p {
        font-size: 16px;
        line-height: 27px;
    }
}

@include for-size(mobile-l) {
    h1 {
        font-size: 23px;
        line-height: 31px;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
    }

    h4 {
        font-size: 14px;
        line-height: 19px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    a {
        font-size: 12px;
        line-height: 14px;
    }
}