@font-face {
	font-family: 'FuturaBookC';
	src: url('../../assets/fonts/futurabookc.eot');
	src: url('../../assets/fonts/futurabookc.woff') format('woff'),
		 url('../../assets/fonts/futurabookc.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url('../../assets/fonts/futurademic.eot');
	src: url('../../assets/fonts/futurademic.woff') format('woff'),
	url('../../assets/fonts/futurademic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Yeseva One';
	src: url('../../assets/fonts/YesevaOne-Regular.eot');
	src: url('../../assets/fonts/YesevaOne-Regular.woff') format('woff'),
	url('../../assets/fonts/YesevaOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../../assets/fonts/futuramediumc.eot');
	src: url('../../assets/fonts/futuramediumc.woff') format('woff'),
	url('../../assets/fonts/futuramediumc.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaRg';
	src: url('../../assets/fonts/ProximaNova-Regular.eot');
	src: url('../../assets/fonts/ProximaNova-Regular.woff') format('woff'),
	url('../../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}