// Fonts
$main-font: 'FuturaBookC';
$secondary-font: 'FuturaDemiC';
$extra-font: 'Yeseva One', cursive;
$additional-font: 'FuturaMediumC';
$tabs-font: 'ProximaNovaRG';

// Background
$main-backround: #131313;
$secondary-backround: #E3B873;
$extra-backround: #fcfcfc;
$player-controls-backround: rgba(0, 0, 0, 0.5);
$btn-backround: #E3B873;
$btn-backround-player: #131313;
$backround-light: #ffffff;
$form-border: rgba(54, 54, 54, 0.3);
$backround-img: rgba(0, 0, 0, 0.7);
$btn-box-shadow: rgba(227, 184, 115, 0.2);
$video-background: rgba(0, 0, 0, 0.8);
$video-background-hover: rgba(0, 0, 0, 0.7);
$video-background-btn: #b18b4d;
$progress-bar-color: #5B5B5B;
$watched-bar-color: #E31221;
$border-color-feedback: rgba(255, 255, 255, 0.15);
$background-slider-bullet: rgba(255, 255, 255, 0.3);
$background-slider-bullet-active: #ffffff;
$background-slider-btn: #E3B873;
$background-slider-btn-shadow: rgba(227, 184, 115, 0.5);
$background-slider-btn-hover: #eacc9b;
$card-box-shadow: rgba(0, 0, 0, 0.05);
$card-box-shadow-extra: rgba(0, 0, 0, 0.04);
$design-style-background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
$background-card-design: rgba(0, 0, 0, 0.3);
$background-scroll: #1e1c1c;
$header-scroll: #202020;

// Color text
$main-color: #ffffff;
$secondary-color: #E3B873;
$main-color-dark: #363636;
$extra-color: #181818;
$main-color-title: #E3B873;
$main-color-hover: #E3B873;
$color-cards: #959595;
$color-checkbox: #E3B873;
$color-checkbox-check: #fff;
$color-form-mobile: rgba(255, 255, 255, 0.5);
$color-form-label: rgba(54, 54, 54, 0.5);
$color-label-feedback: rgba(255, 255, 255, 0.5);
$color-slider-bullet: rgba(255, 255, 255, 0.3);
$color-slider-bullet-active: #E3B873;