@import 'utils/fonts';
@import 'utils/vars';
@import 'utils/mixin';
@import 'utils/base';
@import 'components/header';
@import 'components/footer';
@import 'components/commercial';
@import 'components/onlinecontrol';
@import 'components/repair';
@import 'components/request';
@import 'components/projects';
@import 'components/designstyle';
@import 'components/team';
@import 'components/design';
@import 'components/steps';
@import 'components/popup';
@import 'components/clients';

* {
    box-sizing: border-box;
}

body {
    &.lock {
        overflow: hidden;
    }

    &.lock-popup {
        overflow: hidden;
    }
}

.container {
    max-width: 1272px;
    width: 100%;
    padding: 0 18px;
    margin: 0 auto;
}

.container--menu {
    max-width: 1292px;
}

.container-mini {
    max-width: 853px;
    width: 100%;
    padding: 0 18px 0 18px;
    margin: -317px auto 0;
    position: relative;
    z-index: 6;

    @include for-size(mobile-ml) {
        margin: 0 auto;
    }
}

.container-laptopl {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    @include for-size(laptop-l) {
        padding: 0 18px;
    }
}

.container-slider {
    max-width: 1336px;
    width: 100%;
    margin-left: auto;

    @include for-size(laptop-xl) {
        margin: 0 auto;
    }
}

.container-team {
    max-width: 1134px;
    width: 100%;
    padding: 0 53px;
    margin: 0 auto;
}

.background-dark {
    background: center/cover no-repeat url('../../assets/img/back.png'), $main-backround;

    @include for-size(tablet-s) {
        margin-top: -280px;
    }

    @include for-size(mobile-l) {
        margin-top: -200px;
    }

    @include for-size(mobile-ml) {
        margin-top: -155px;
    }

    @include for-size(mobile-m) {
        margin-top: -120px;
    }
}
// Additional classes for video-player
.active {
    display: block;
}

.hidden {
    cursor: none;
}

.show {
    opacity: 1;
}

.play {
    opacity: 0.8;
}

.heigth-none {
    max-height: none;
}